{% extends 'base.html.twig' %}

{% block title %}< Todo List ## SmartWeb >{% endblock %}

{% block body %}
    <div class="container mt-3 mh-100" style="box-shadow: 5px 15px 15px 10px black">
        <div class="row">
            <div class="col">
                <h1 class="text-center"><u>Todo List</u></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="text-center"><u>Todo Actions</u></h3>

                <div class="text-center mt-3 p-3" style="background-color: dimgray; border-radius: 50px;">
                    <button class="btn btn-success mr-2" id="createTodo" onclick="createTodo();">Create Todo</button>
                    <button class="btn btn-success mr-2" id="showAllTodos" onclick="getAllTodos();">Show All</button>
                    <button class="btn btn-success mr-2" id="showFinishedTodos" onclick="new TodoMainClass().showTodos('finished');">Show Finished</button>
                </div>

                <div class="mt-3 p-3" id="todoActions" style="background-color: dimgray; border-radius: 20px;">

                </div>
            </div>

            <div class="col">
                <h3 class="text-center"><u>All Todos</u></h3>

                <div class="mt-3 mb-3 p-3 " id="allTodos" style="background-color: dimgray; border-radius: 20px; overflow-y: scroll; height: 750px;">

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalHeader" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalHeader"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="infoModalBody">

                </div>
                <div class="modal-footer" id="infoModalFooter">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="infoModalSubmitButton" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/module/todo/todoMain.class.js') }}"></script>
{% endblock %}